body {
  font-family: "Courier New", Times, serif;
  background-color: #e8e7e7;
}

header {
  padding: 20px;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
  transition: 0.3s ease, color 0.3s ease;
  padding: 5px;
  border-radius: 5px;
}

nav ul li a:hover {
  color: #b7b7b7;
}

h2 {
  padding: 50px 0 0 0;
}

.main-content {
  padding: 0 100px 100px 100px;
}

.language-content .greeting-message,
.language-content .greeting-message-fr {
  margin-bottom: 75px;
}

.constitution {
  border-radius: 10px;
}

hr {
  margin: 50px 0;
}
/* Media query for mobile devices */
@media (max-width: 700px) {
  body {
    font-size: 14px; /* Reduce font size for mobile devices */
  }

  .main-content {
    padding: 0 20px 20px 20px; /* Adjust padding for mobile devices */
  }

  nav ul li {
    display: block; /* Change to block for vertical list */
    margin: 10px 0; /* Adjust margin for spacing */
  }

  nav ul li a {
    display: block; /* Ensure links take full width */
    text-align: center; /* Center align text */
  }
}

.nav-language-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  flex-grow: 1;
  text-align: center;
  margin-left: 350px;
}

#language-toggle {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  margin-right: 350px;
  font-family: inherit;
  font-weight: 700;
}

#language-toggle:hover {
  color: #b7b7b7;
}
