---
layout: base.njk
title: PLAYGROUND
---

<div id="content-fr" class="language-content">
  <div class="greeting-message-fr">
    {{ home.greeting_fr | markdownify | safe }}
  </div>
  <div class="constitution">
    <ul class="playground-list">
      {% for item in home.constitution %}
        <li><span class="playground">PLAYGROUND</span><span class="desc">{{ item.fr }}</span></li>
      {% endfor %}
    </ul>
  </div>
</div>

<div id="content-en" class="language-content">
  <div class="greeting-message">
    {{ home.greeting_en | markdownify | safe }}
  </div>
  <div class="constitution">
    <ul class="playground-list">
      {% for item in home.constitution %}
        <li><span class="playground">PLAYGROUND</span><span class="desc">{{ item.en }}</span></li>
      {% endfor %}
    </ul>
  </div>
</div>
