---
layout: base.njk
title: Références — PLAYGROUND
---
<div id="content-fr" class="language-content">
  {{ references.body_fr | markdownify | safe }}
</div>
<div id="content-en" class="language-content">
  {{ references.body_en | markdownify | safe }}
</div>
